{# Copyright (c) 2018 Tildes contributors <code@tildes.net> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends 'base_no_sidebar.jinja2' %}

{% block title %}Error 403 (Forbidden){% endblock %}

{% block content %}
<div class="empty">
  <h2 class="empty-title">Error 403 (Forbidden)</h2>
  <p class="empty-subtitle">You don't have access to this page.</p>
  <div class="empty-action"><a href="/" class="btn btn-primary">Back to the home page</a></div>
</div>
{% endblock %}
